modules = ["nodejs-20", "bash", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["gitFull", "playwright-driver"]

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start:deploy", "--prefix", "frontend"]
build = ["npm", "run", "build", "--prefix", "frontend"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "backend"

[[workflows.workflow]]
name = "dev"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend/api && npm run dev"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37929
externalPort = 3000

[[ports]]
localPort = 38091
externalPort = 3001

[[ports]]
localPort = 40167
externalPort = 3002

[[ports]]
localPort = 46523
externalPort = 4200

[[ports]]
localPort = 46743
externalPort = 3003

[objectStorage]
defaultBucketID = "replit-objstore-46f6876a-bd2a-4fa0-b91a-84c9eafa5f93"
